* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(255, 249, 227);
    margin: 30px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(214, 121, 0);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

hr {
    background-color: rgb(255, 219, 172);
    height: 2px;
    margin-bottom: 30px;
    border: none;
}

input[type=checkbox] {
    margin-right: 10px;
    accent-color: rgb(255, 145, 0);
    height: 25px;
    width: 25px;
}

input[type=number] {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: brown;
    height: 25px;
    width: 150px;
}

input[type=radio] {
    accent-color: rgb(255, 145, 0);
    height: 25px;
    width: 25px;
}

select {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: rgb(255, 145, 0);
    background-color: rgb(255, 145, 0);
    color: brown;
    height: 30px;
    width: 50px;
    margin-left: 10px;
}

button {
    border: none;
    background-color: rgb(255, 145, 0);
    color: rgb(255, 215, 83);
    font-weight: bold;
    height: 40px;
    width: 180px;

}

.linha-principal {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.finalizacao {
    display: flex;
    flex-direction: column;
}

.linha-produto {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 10px;
}

.produto {
    display: flex;
    width: 300px;
}

.preco {
    display: flex;
    width: 200px;
}

.quantidade {
    display: flex;
    width: 200px;
}

.opcao {
    margin-top: 10px;
}

.espaco {
    margin-top: 25px;
}

.parte {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ttl {
    font-weight: bold;
    margin-bottom: -5px;
    color: rgb(173, 98, 0);
}